*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}
.container{
    background-image: url(bg.png);
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
}
nav{
    /* border: 1px solid red; */
    display: flex;
}
nav .logo img{
    height: 50px;
    width: 80px;
    mix-blend-mode: color-dodge;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu li{
    list-style: none;
}
.menu li a{
    text-decoration: none;
    color: white;
    margin-left: 40px;
    font-weight: 600;
}
.menu li a:hover{
    transition: 0.5s ease-in all;
    color: #FFD166;

}
.button{
    /* border: 2px solid green; */
    display: flex;
    justify-content: center;
    margin-left: 170px;
    
}
.para{
    margin-top: 15px;
    margin-left: 150px;
}
.para p{
    /* border: 1px solid yellow; */
    letter-spacing: 1px;
    color: aliceblue;
    font-size: 12px;
    margin-top: 1px;


}
.buttn{
    margin-left: 30px;
    margin-top: 10px;

}




/* CSS */
.button-54 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}
.miid{
    /* border: 1px solid red; */
    /* width: 50%; */
    height: 40vh;
    margin-top: 250px;
    display: flex;
}
.left{
    /* border: 2px solid yellow; */
    width: 50%;
    height: 40vh;
}
.topp{
    margin: 20px 20px;
    color: white;
    font-size: 60px;
    letter-spacing: 1px;
    word-spacing: 20px;
}








/* CSS */
.button-49,
.button-49:after {
    margin-left: 28px;
  width: 150px;
  height: 76px;
  line-height: 78px;
  font-size: 20px;
  font-family: 'Bebas Neue', sans-serif;
  background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #00E6F6;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-49:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  
  content: 'BOOK NOW';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

.button-49:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 768px) {
  .button-49,
  .button-49:after {
    width: 200px;
    height: 86px;
    line-height: 88px;
  }
}

.bottomm{
    display: flex;

}
.textt{
    color: white;
    margin-left: 30px;
    margin-top: 20px;
    letter-spacing: 1px;
}

.right{
  /* border: 2px solid red; */
  width: 40%;
  display: flex;
  margin-top: 200px;
  margin-left: 270px;
}
.lft{
  /* border: 2px solid green; */
  color: white;
  margin-top: 200px;
  font-size: 12px;
  font-weight: 600;
  align-items: end;
  margin-left: 100px;
}
.title{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: end;
  font-size: 12px;
}
.title::before{
  content: "";
  height: 2px;
  width: 65px;
  
  background-color: white;
  display: block;
}
.rt img{
  /* border: 3px solid yellow; */
  margin-top: 200px;
  margin-left: 30px;
  height: 40px;
}
